nodered_flow.json
[
    {
        "id": "5f4154c16a5c821a",
        "type": "tab",
        "label": "Client",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94c9159c5d178987",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c23d2597b45e9c9f",
        "type": "tab",
        "label": "LOAD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8f7517e78ec8dba",
        "type": "tab",
        "label": "STATUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bda6b5c4b7c97402",
        "type": "tab",
        "label": "PRESET",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8678fe94a1a7556f",
        "type": "tab",
        "label": "Node test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0a6dcdb67c60ab3",
        "type": "junction",
        "z": "c23d2597b45e9c9f",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "fc44022d3fde44d6"
            ]
        ]
    },
    {
        "id": "52da75c0932f4aa2",
        "type": "junction",
        "z": "c23d2597b45e9c9f",
        "x": 900,
        "y": 400,
        "wires": [
            [
                "fc44022d3fde44d6"
            ]
        ]
    },
    {
        "id": "6eef616398e28bdd",
        "type": "junction",
        "z": "bda6b5c4b7c97402",
        "x": 860,
        "y": 200,
        "wires": [
            [
                "256d114e64dd7ad4"
            ]
        ]
    },
    {
        "id": "c89958bf0649c980",
        "type": "junction",
        "z": "bda6b5c4b7c97402",
        "x": 860,
        "y": 320,
        "wires": [
            [
                "256d114e64dd7ad4"
            ]
        ]
    },
    {
        "id": "e7f6c298891f01f0",
        "type": "junction",
        "z": "bda6b5c4b7c97402",
        "x": 860,
        "y": 440,
        "wires": [
            [
                "256d114e64dd7ad4"
            ]
        ]
    },
    {
        "id": "50ba8cbb644a7bb0",
        "type": "serial-port",
        "name": "exp rx",
        "serialport": "/dev/ttyS0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "616e7ac9b1ef9449",
        "type": "ui_group",
        "name": "Comm Check",
        "tab": "1c9ef4849bbc4375",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d25ddb969d32130",
        "type": "ui_group",
        "name": "Status",
        "tab": "c2b80ba775a0e7ae",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c6cdcabf1e2526e",
        "type": "serial-port",
        "name": "exp tx",
        "serialport": "/dev/ttyS0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "",
        "bin": "false",
        "out": "char",
        "addchar": "\\r",
        "responsetimeout": "10000"
    },
    {
        "id": "fa0d92472fc34a80",
        "type": "ui_group",
        "name": "PRESET",
        "tab": "8483fb00518a7a02",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "307e1eac5c850044",
        "type": "ui_group",
        "name": "LOAD",
        "tab": "630d924bb5e9ab07",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4e31a9c6525e229",
        "type": "ui_tab",
        "name": "Home",
        "icon": "",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1c9ef4849bbc4375",
        "type": "ui_tab",
        "name": "Node test",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2b80ba775a0e7ae",
        "type": "ui_tab",
        "name": "STATUS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "630d924bb5e9ab07",
        "type": "ui_tab",
        "name": "LOAD",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8483fb00518a7a02",
        "type": "ui_tab",
        "name": "PRESET",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cff73f3d590fb100",
        "type": "ui_group",
        "name": "Home",
        "tab": "a4e31a9c6525e229",
        "order": 1,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c0a216557506d61",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#4cabe6",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#4cabe6",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4cabe6",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#8fcaef",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4cabe6",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Digital Light Management",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 10,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4b67e1547de8613",
        "type": "link in",
        "z": "5f4154c16a5c821a",
        "name": "link in 2",
        "links": [
            "23487a7bf8d99a8a",
            "256d114e64dd7ad4",
            "8d960c7bfb7ad474",
            "f6f5bad757f15bc7",
            "fc44022d3fde44d6"
        ],
        "x": 215,
        "y": 260,
        "wires": [
            [
                "d62fb62d2ebbc1cd"
            ]
        ]
    },
    {
        "id": "2db104d26546c698",
        "type": "serial out",
        "z": "5f4154c16a5c821a",
        "d": true,
        "name": "Pi ---> LMDI ",
        "serial": "2c6cdcabf1e2526e",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "0ee6f1da42da1438",
        "type": "serial in",
        "z": "5f4154c16a5c821a",
        "d": true,
        "name": "LMDI ----> Pi",
        "serial": "50ba8cbb644a7bb0",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "7aec690bc3f67e76"
            ]
        ]
    },
    {
        "id": "7aec690bc3f67e76",
        "type": "debug",
        "z": "5f4154c16a5c821a",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "d62fb62d2ebbc1cd",
        "type": "tcp out",
        "z": "5f4154c16a5c821a",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "a481061ec2cf67cf",
        "type": "comment",
        "z": "5f4154c16a5c821a",
        "name": "Client",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "266e7e62ec6d5283",
        "type": "tcp in",
        "z": "5f4154c16a5c821a",
        "name": "10.3.136.129:50000",
        "server": "server",
        "host": "",
        "port": "50000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 650,
        "y": 260,
        "wires": [
            [
                "07670df789695dd8"
            ]
        ]
    },
    {
        "id": "07670df789695dd8",
        "type": "debug",
        "z": "5f4154c16a5c821a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "3e1e8ba549af8941",
        "type": "comment",
        "z": "5f4154c16a5c821a",
        "name": "Server",
        "info": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "bce77a950b79eeb1",
        "type": "ui_switch",
        "z": "94c9159c5d178987",
        "name": "",
        "label": "Load1",
        "tooltip": "",
        "group": "cff73f3d590fb100",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "455719b28900f3e6"
            ]
        ]
    },
    {
        "id": "455719b28900f3e6",
        "type": "function",
        "z": "94c9159c5d178987",
        "name": "function 28",
        "func": "let switch_val = msg.payload; \nlet command;\n\nif (switch_val)\n    command = \"LOAD 1 100\\r\\n\";\nelse\n    command = \"LOAD 1 0\\r\\n\";\n    \nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 280,
        "wires": [
            [
                "8d960c7bfb7ad474"
            ]
        ]
    },
    {
        "id": "8d960c7bfb7ad474",
        "type": "link out",
        "z": "94c9159c5d178987",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "a99d168a1d271685",
            "b4b67e1547de8613"
        ],
        "x": 995,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ab36777c533c5ac",
        "type": "ui_switch",
        "z": "94c9159c5d178987",
        "name": "",
        "label": "Load2",
        "tooltip": "",
        "group": "cff73f3d590fb100",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "5435041005b99fcc"
            ]
        ]
    },
    {
        "id": "5435041005b99fcc",
        "type": "function",
        "z": "94c9159c5d178987",
        "name": "function 29",
        "func": "let switch_val = msg.payload; \nlet command;\n\nif (switch_val)\n    command = \"LOAD 2 100\\r\\n\";\nelse\n    command = \"LOAD 2 0\\r\\n\";\n    \nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "8d960c7bfb7ad474"
            ]
        ]
    },
    {
        "id": "e81cc3a6712d9011",
        "type": "ui_switch",
        "z": "94c9159c5d178987",
        "name": "",
        "label": "Load3",
        "tooltip": "",
        "group": "cff73f3d590fb100",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b7c0808b31d888b8"
            ]
        ]
    },
    {
        "id": "b7c0808b31d888b8",
        "type": "function",
        "z": "94c9159c5d178987",
        "name": "function 30",
        "func": "let switch_val = msg.payload; \nlet command;\n\nif (switch_val)\n    command = \"LOAD 3 100\\r\\n\";\nelse\n    command = \"LOAD 3 0\\r\\n\";\n    \nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "8d960c7bfb7ad474"
            ]
        ]
    },
    {
        "id": "1616d9783f68278a",
        "type": "ui_switch",
        "z": "94c9159c5d178987",
        "name": "",
        "label": "All Loads",
        "tooltip": "",
        "group": "cff73f3d590fb100",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "bce77a950b79eeb1",
                "5ab36777c533c5ac",
                "e81cc3a6712d9011"
            ]
        ]
    },
    {
        "id": "888098a48534b797",
        "type": "ui_button",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "group": "307e1eac5c850044",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GETLOAD 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "ed014a8eb2ca8eec"
            ]
        ]
    },
    {
        "id": "ed014a8eb2ca8eec",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 14",
        "func": "let cmd = \"GETLOAD 1\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 220,
        "wires": [
            [
                "e0a6dcdb67c60ab3"
            ]
        ]
    },
    {
        "id": "ea6208d40dc9ee8f",
        "type": "ui_button",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "group": "307e1eac5c850044",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GETLOAD 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "db89119fd5f98426"
            ]
        ]
    },
    {
        "id": "db89119fd5f98426",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 15",
        "func": "let cmd = \"GETLOAD 2\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "e0a6dcdb67c60ab3"
            ]
        ]
    },
    {
        "id": "76c28458c076ae74",
        "type": "ui_button",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "group": "307e1eac5c850044",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GETLOAD 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "fe8a3e8627ad96cb"
            ]
        ]
    },
    {
        "id": "fe8a3e8627ad96cb",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 16",
        "func": "let cmd = \"GETLOAD 3\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "e0a6dcdb67c60ab3"
            ]
        ]
    },
    {
        "id": "bd72107f698dd465",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 18",
        "func": "let sliderValue = msg.payload; // Get the slider value\nlet command = \"LOAD 1 \" + sliderValue + \"\\r\\n\"; // Construct the command\n\nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            [
                "52da75c0932f4aa2"
            ]
        ]
    },
    {
        "id": "42e5648499875cef",
        "type": "ui_slider",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "label": "SETLOAD1",
        "tooltip": "",
        "group": "307e1eac5c850044",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "bd72107f698dd465"
            ]
        ]
    },
    {
        "id": "2881c88341ec83c3",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 21",
        "func": "let sliderValue = msg.payload; // Get the slider value\nlet command = \"LOAD 2 \" + sliderValue + \"\\r\\n\"; // Construct the command\n\nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "52da75c0932f4aa2"
            ]
        ]
    },
    {
        "id": "d9b99d9ce33decee",
        "type": "ui_slider",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "label": "SETLOAD2",
        "tooltip": "",
        "group": "307e1eac5c850044",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "2881c88341ec83c3"
            ]
        ]
    },
    {
        "id": "a8c7456c9993c10e",
        "type": "function",
        "z": "c23d2597b45e9c9f",
        "name": "function 22",
        "func": "let sliderValue = msg.payload; // Get the slider value\nlet command = \"LOAD 3 \" + sliderValue + \"\\r\\n\"; // Construct the command\n\nmsg.payload = command; // Set the modified command as the new payload\nreturn msg; // Return the modified message\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "52da75c0932f4aa2"
            ]
        ]
    },
    {
        "id": "77ffc8933d213e4f",
        "type": "ui_slider",
        "z": "c23d2597b45e9c9f",
        "name": "",
        "label": "SETLOAD3",
        "tooltip": "",
        "group": "307e1eac5c850044",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "a8c7456c9993c10e"
            ]
        ]
    },
    {
        "id": "fc44022d3fde44d6",
        "type": "link out",
        "z": "c23d2597b45e9c9f",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "a99d168a1d271685",
            "b4b67e1547de8613"
        ],
        "x": 1045,
        "y": 320,
        "wires": []
    },
    {
        "id": "0a117b463041ec95",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS SCENE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "7e0a1022837d53d7"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "7e0a1022837d53d7",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 2",
        "func": "let cmd = \"STATUS SCENE\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "061c338c40f89e5b",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS PROFILE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ff726499903087db"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "ff726499903087db",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 3",
        "func": "let cmd = \"STATUS PROFILE\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "8d79d8dc22b526b5",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS BUTTON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "2ceac7ab9f1c2c2f"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "2ceac7ab9f1c2c2f",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 4",
        "func": "let cmd = \"STATUS BUTTON\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "f836cd5fa8176504",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS BUTTONLOCK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "9bcf91acdfb6d3e8"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "9bcf91acdfb6d3e8",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 5",
        "func": "let cmd = \"STATUS BUTTONLOCK\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "11bcb79d1f702af9",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS OCCUPANCY",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "104556a6dc858f6d"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "104556a6dc858f6d",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 6",
        "func": "let cmd = \"STATUS OCCUPANCY\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "8f279c814025cc28",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "f0b795d803a242f8"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "f0b795d803a242f8",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 7",
        "func": "let cmd = \"STATUS ALL\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "319c3960c645e705",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS NONE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 340,
        "y": 440,
        "wires": [
            [
                "acf9daa2c2b860ec"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "acf9daa2c2b860ec",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 8",
        "func": "let cmd = \"STATUS NONE\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "73b4e9cdd42d5558",
        "type": "ui_button",
        "z": "c8f7517e78ec8dba",
        "name": "",
        "group": "3d25ddb969d32130",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STATUS LOAD",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "911624a51f6f6b84"
            ]
        ],
        "inputLabels": [
            "button"
        ],
        "outputLabels": [
            "click"
        ]
    },
    {
        "id": "911624a51f6f6b84",
        "type": "function",
        "z": "c8f7517e78ec8dba",
        "name": "function 9",
        "func": "let cmd = \"STATUS LOAD\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "23487a7bf8d99a8a"
            ]
        ]
    },
    {
        "id": "23487a7bf8d99a8a",
        "type": "link out",
        "z": "c8f7517e78ec8dba",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a99d168a1d271685",
            "b4b67e1547de8613"
        ],
        "x": 865,
        "y": 320,
        "wires": []
    },
    {
        "id": "72bd6ef3177806bf",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "AFTERHOURS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "4a5085472e0ed6b1"
            ]
        ]
    },
    {
        "id": "4a5085472e0ed6b1",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 12",
        "func": "let cmd = \"AFTERHOURS \\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 180,
        "wires": [
            [
                "6eef616398e28bdd"
            ]
        ]
    },
    {
        "id": "b1553a6c465c31af",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "NORMALHOURS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "722cac8d15d4a795"
            ]
        ]
    },
    {
        "id": "722cac8d15d4a795",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 13",
        "func": "let cmd = \"NORMALHOURS \\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 220,
        "wires": [
            [
                "6eef616398e28bdd"
            ]
        ]
    },
    {
        "id": "256d114e64dd7ad4",
        "type": "link out",
        "z": "bda6b5c4b7c97402",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "a99d168a1d271685",
            "b4b67e1547de8613"
        ],
        "x": 1005,
        "y": 320,
        "wires": []
    },
    {
        "id": "284c240164cf782b",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLEAN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "43dec161b614ce6a"
            ]
        ]
    },
    {
        "id": "43dec161b614ce6a",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 31",
        "func": "let cmd = \"CLEAN 1&2&3 100\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "c89958bf0649c980"
            ]
        ]
    },
    {
        "id": "6e8551e1e2324dc6",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLEANCANCEL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "a6b44c9240538153"
            ]
        ]
    },
    {
        "id": "a6b44c9240538153",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 32",
        "func": "let cmd = \"CLEANCANCEL 1&2&3\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "c89958bf0649c980"
            ]
        ]
    },
    {
        "id": "048c981e4fff6470",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LOCKBUTTONS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "a02e6369f0d0f7d9"
            ]
        ]
    },
    {
        "id": "a02e6369f0d0f7d9",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 33",
        "func": "let cmd = \"LOCKBUTTONS 0\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "e7f6c298891f01f0"
            ]
        ]
    },
    {
        "id": "70a632d1a890dd08",
        "type": "ui_button",
        "z": "bda6b5c4b7c97402",
        "name": "",
        "group": "fa0d92472fc34a80",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "UNLOCKBUTTONS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "30d5c0826476ccef"
            ]
        ]
    },
    {
        "id": "30d5c0826476ccef",
        "type": "function",
        "z": "bda6b5c4b7c97402",
        "name": "function 34",
        "func": "let cmd = \"UNLOCKBUTTONS\\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "e7f6c298891f01f0"
            ]
        ]
    },
    {
        "id": "9e148e72430910af",
        "type": "ui_button",
        "z": "8678fe94a1a7556f",
        "name": "",
        "group": "616e7ac9b1ef9449",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Version",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "8b22011e912cfc94"
            ]
        ]
    },
    {
        "id": "8b22011e912cfc94",
        "type": "function",
        "z": "8678fe94a1a7556f",
        "name": "function 23",
        "func": "let cmd = \"VERSION \\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "f6f5bad757f15bc7"
            ]
        ]
    },
    {
        "id": "a1995c869f9ab78f",
        "type": "ui_button",
        "z": "8678fe94a1a7556f",
        "name": "",
        "group": "616e7ac9b1ef9449",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ECHO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "global",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "4e255a748f6c80a8"
            ]
        ]
    },
    {
        "id": "4e255a748f6c80a8",
        "type": "function",
        "z": "8678fe94a1a7556f",
        "name": "function 24",
        "func": "let cmd = \"ECHO hello \\r\\n\";\nnode.send({ payload: cmd});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "f6f5bad757f15bc7"
            ]
        ]
    },
    {
        "id": "f6f5bad757f15bc7",
        "type": "link out",
        "z": "8678fe94a1a7556f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "a99d168a1d271685",
            "b4b67e1547de8613"
        ],
        "x": 915,
        "y": 280,
        "wires": []
    }
]